<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
  <script>
    var Hex = fabric.util.createClass(fabric.Polygon, {
      type: 'Hex',
      initialize: function(options){
        options || (options = {});
        
        points = []
        points.push({ x: options.Xcenter +  options.size * Math.cos(.5), y: options.Ycenter +  options.size *  Math.sin(.5)})
        for (var i = 1; i <= 6;i += 1) {
          points.push({x: options.Xcenter + options.size * Math.cos((i + .5) * 2 * Math.PI / 6), y: options.Ycenter + options.size * Math.sin((i + .5) * 2 * Math.PI / 6)});
        }
        
        stone = new fabric.Circle({
          radius: 5,
          fill: 'white',
        })

        label = options.label;
        stoneLevel = options.stoneLevel;
        tileLevel = options.tileLevel;
        this.callSuper('initialize', points, options);
      },

      _render: function(ctx) {
        if(this.tileLevel === 0){this.fill = 'rgb(100,100,100)'};
        if(this.tileLevel === 1){this.fill = 'rgb(50,50,50)'};
        if(this.tileLevel === 2){this.fill = 'rgb(0,0,0)'};

        if(this.stoneLevel === 0){stone.fill = 'rgb(0,0,0)'}
        if(this.stoneLevel === 1){stone.fill = 'rgba(0,0,0,0)'}
        if(this.stoneLevel === 2){stone.fill = 'rgb(100,100,100)'}

        this.callSuper('_render', ctx);

        stone._render(ctx);

        ctx.font = '10px Helvetica';
        ctx.fillStyle = '#FFF';
        ctx.fillText(this.label, -this.width/2, 0);
      }
    })

    function submitMove(move) {
      if(gameID === "") {return};
      let placeConversion = {
        0: "A",
        1: "B",
        2: "C",
        3: "D", 
        4: "E",
        5: "F",
        6: "G"
      }
      for(const key in move){
        move[key] = (() => { return placeConversion[move[key][0]] + ( parseInt(move[key][2]) + 1)})();
      }
      ({tileSource, tileSink, stoneSource, stoneSink} = move);
      move = {
        tile: {
          source: tileSource,
          sink: tileSink,
        },
        stone: {
          source: stoneSource,
          sink: stoneSink,
        }
      }
      socket.emit('game:playMove', {move, gameID});
    }

    function placeSelected(event) {
      ({target} = event);

      if(document.getElementById('tile-source').value === ""){
        document.getElementById('tile-source').value = target.label;
      } else if(document.getElementById('tile-sink').value === ""){
        document.getElementById('tile-sink').value = target.label;
      } else if(document.getElementById('stone-source').value === ""){
        document.getElementById('stone-source').value = target.label;
      } else if(document.getElementById('stone-sink').value === ""){
        document.getElementById('stone-sink').value = target.label;
      }
      
    }

    let objs = [];
    function drawBoard(options) {
      ({height} = options);
      
      R = height / 11;
      r = (Math.sqrt(3)/2) * R;

      for(i = 0; i < 7; i++){
        for(j = 0; j < 7 - Math.abs(3 - i); j++){
          x = r * (Math.abs(3 - i) + 2*j + 1)
          y = R * ((1.5 * (i+1) - .5))

          let stoneLevel = 1;
          let tileLevel = 1;
          if(i === 0){
            stoneLevel = 0;
            tileLevel = 0;
          }
          if(i === 6){
            stoneLevel = 2;
            tileLevel = 2;
          }

          objs.push(
            new Hex({
              Xcenter: x,
              Ycenter: y,
              size: R,
              perPixelTargetFind: true,
              hasControls: false,
              hasBorders: false,
              lockMovementX: true,
              lockMovementY: true,
              label: `${i},${j}`,
              stoneLevel: stoneLevel,
              tileLevel: tileLevel,
            })
          )

          objs[objs.length - 1].on('selected', function(event) {
            placeSelected(event);
          })
        }
      }

      objs.forEach((item) => canvas.add(item));
    };

    let canvas;
    function initializeCanvas() {
      canvas = new fabric.Canvas('canvas');

      drawBoard({height: canvas.getHeight()})
    }

    const socket = io();
    let gameID;
    let IBN;

    function joinGame() {
      socket.emit('game:search');
    }

    socket.on('game:create', (data) => {
      ({gameID,IBN} = data);
      console.log(data);
    })

    socket.on('move:confirm', (IBN) => {
      console.log(IBN, objs);
    })

  </script>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body onload="initializeCanvas()" >

  <button onmousedown="joinGame()">Game Search</button>
  <br>
  <canvas id="canvas" width="400" height="300"></canvas>
  <br>
  <div>
    Tile Source: <input type="text" id="tile-source"><br>
    Tile Sink: <input type="text" id="tile-sink"><br>
    Stone Source: <input type="text" id="stone-source"><br>
    Stone Sink: <input type="text" id="stone-sink"><br>
    <input type="submit" value="Submit" onclick="
    submitMove({
      tileSource: document.getElementById('tile-source').value,
      tileSink: document.getElementById('tile-sink').value,
      stoneSource: document.getElementById('stone-source').value,
      stoneSink: document.getElementById('stone-sink').value,
    });
    document.getElementById('tile-source').value = '';
    document.getElementById('tile-sink').value = ''
    document.getElementById('stone-source').value = ''
    document.getElementById('stone-sink').value = ''
    ">

  </div>

</body>
</html>