<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="./fabric.js"></script>
  <script type="text/javascript" src="./board.js"></script>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body onload="initializeCanvas()" >

  <button onmousedown="joinGame()" id="gameSearch">Game Search</button>
  <button onmousedown="challengeAi()" id="challengeAi">Challenge AI</button>

  <br>
  <canvas id="canvas" width="400" height="300"></canvas>
  <br>
  <div id="moves" style="display: none;">
    <input type="button" value="Submit Move" onclick="submitMove(proposedMove)" id="moveSubmit">

  </div>
  <input type="button" onclick="clearMove()" value="Clear Move" style="display: none;" id="clearMove">

  <input type="button" onclick="reverseBoard()" value="Flip Board" style="display: none;" id="reverseButton">

</body>
</html>